* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.container { /*container que segura e dá margem aos cards*/
    margin: 0 .88rem;
}

.headerLogo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.68rem;
    font-weight: 600;

    background-color: #5abbad;
    color: white;
    display: inline-block;
    padding: 1rem;
}

.headerNav {
    display: block;
    background-color: #232c2c;
    text-align: center;
}

.headerNav li {
    border-bottom: #293131 2px solid;
}

.headerNav a {
    display: block;
    color: #aaa;
    text-decoration: none;
    padding: 1rem;

    transition: background, color, .2s ease-in-out;
}

.headerNav a:hover {
    background-color: #1f1f1f;
    color: #5abbad;
}

.hero {
    text-align: center;
    height: 80vh;
    background-image: url(img/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 1.22rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    /*seta*/
    background: linear-gradient(45deg, white 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat,
                linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat,
                url(img/01.jpg);
    background-size: 40px 40px, 40px 40px, cover;

}

.heroTitle {
    font-size: 1.8rem;
    color: white;
    background-color: #5abbad;
    padding: 1.22rem .7rem;
    border-radius: 10px;
}

abbr {
    text-decoration: none;
}

.heroText {
    color: white;
    background-color: #232c2c;
    border-radius: 8px;
    padding: 1rem;
}

.heroButton {
    display: inline-block;
    margin-top: 1rem;
    background-color: rgb(0 0 0 / .2);
    padding: 1rem 2.82rem;
    border: solid #ccc 1px;
    border-radius: 8px;

    font-size: 1.2rem;
    text-decoration: none;
    color: whitesmoke;
}

.card {
    padding-bottom: 2rem;
}

.containerCards {
    border-left: solid 1px #ccc;
    margin-top: 3.22rem;
}

.cardImage {
    width: 100%;
}

.cardImage__avatar {
    margin: -55px auto;
    width: 90px;
    height: 88px;
    overflow: hidden;

    margin-bottom: 1.68rem;
}

.cardContent {
    padding: 0 1.68rem;
}

.cardContent__title {
    color: #777777;
}

.cardContent p {
    color: #aaa;
}

.card:hover {
    outline: 5px solid #5abbad;
    outline-offset: -4px; /*colocando outline 4px para dentro*/
}

.card:hover .cardImage__avatar img {
    transform: translateY(-50%);
}

.card:hover .cardContent__title {
    color: #5abbad;
}

/*middle content*/
.middleContentContainer {
    background-color: #f8f8f9;
    padding: 2rem 0;
}

.middleContent {
    display: flex;
    flex-direction: column;
    gap: 1.28rem;
}

.middleContent__title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #737c85;
}

.middleContent p,
.middleContent__text p {
    color: #929da5;
    letter-spacing: 2px;
    /* margin-top: 1rem; */
}

.action {
    display: flex;
    justify-content: flex-start;
    gap: 2.22rem;

    margin: 1rem 0;
}

.button {
    display: inline-block;
    background-color: #5abbad;
    padding: 1rem 2rem;
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;

    transition: background, .22s ease-in-out;
}
.button:hover {
    background-color: #8a8a8a;
}

.buttonSecondary {
    background-color: #455357;
}


.middleContent__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

/*Last Articles*/
.lastArticles__containerTitle {
    background-color: #5abbad;
    padding: 1rem;
}

.lastArticles__title {
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
}

.lastArticles__thumbs img {
    display: block;
    width: 100%;
}

.lastArticles__thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.62rem, 1fr));
    grid-auto-rows: auto;
}

/*Slider*/
.containerSlider {
    background-color: #232a2d;
    padding: 8rem .78rem;
    width: 100%;
    overflow: auto;
}

.showSlide {
    white-space: nowrap;
}

.showSlide figure {
    display: inline-block;
    margin: 0 2rem;
}